<section>
    <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <h2 class="text-4xl font-bold tracking-tight text-gray-900">Products</h2>
            @switch (service.status()) {
                @case ("loading") {
                    <app-loading></app-loading>
                }
                @case ("success") {
                    @defer {
                        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                            @for (product of service.products(); track product) {
                                <app-product [product]="product"></app-product>
                            }
                        </div>
                        @if (service.totalItems() > 0) {
                            <app-pagination [currentPage]="service.currentPage()" [totalItems]="service.totalItems()" (pageChange)="service.currentPage$.next($event)"></app-pagination>
                        } @else {
                            <div class="flex items-center justify-center h-full w-full">
                                <h1 class="text-base sm:text-2xl font-bold tracking-tight text-center">
                                    <span class="text-gray-500">There are no products...</span>
                                </h1>
                            </div>
                        }
                    }
                    @placeholder {
                        <app-loading></app-loading>
                    }
                }
                @case ("error") {
                    <div class="flex items-center justify-center w-full flex-col ml-3 mr-3">
                        <div>
                            <h1 class="text-base sm:text-2xl font-bold tracking-tight text-center">
                                <span class="text-gray-500">{{service.error()}}</span>
                            </h1>
                        </div>
                        
                        <button 
                            (click)="service.retry$.next()" 
                            class="text-white mt-2 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2"
                        >Reload page</button>
                    </div>
                }
            }
        </div>
    </div>
</section>